* {
margin: 0;
padding: 0;
box-sizing: border-box;
}

body{
    padding-top: 20px;
    padding-right: 180px;
    padding-left: 100px;
    font-family: "Poppins", sans-serif;
}
h1{
    color: #333;
    font-size: 60px;
    font: bold;
}
span{
    color: #017143;
}
p{
    font: 16px;
}
button{
    background-color: #017143;
    color: #fff;
    border-radius: 40px;
    border: none;
    padding: 10px;
    margin-top: 20px;
    cursor: pointer;
}
button:hover{
    background: #018520;
}
.starbucks{
    width: 340px;
}

.conteudo{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.caixa-texto{
width: 600px;
}
.menu{
    display: flex;
    justify-content: center;
}
.botao-menu{
    width: 60px;
    cursor: pointer;
}
.botao-menu:hover{
width: 90px;
transform: translateY(-30px);

}
